.Header {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;
}

.Header h1 {
  font-size: 24px;
}

.Header input {
  height: 30px;
  padding: 12px 16px;
  border: none;
  border-bottom: 1px solid #1f93ff;
  flex: 1;
}

.Header input:focus {
  outline: none;
}

.Header button {
  width: 80px;
  height: 40px;

  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
