.Header {
  display: flex;
  gap: 20px;
}

.Header > h1 {
  font-weight: 400;
}

.Header input {
  height: 30px;
  margin: auto 0;
  flex: 1;
  border: none;
  border-bottom: 1px solid #1f93ff;
}

.Header input:focus {
  outline: none;
}

.Header button {
  width: 80px;
  height: 40px;
  margin: auto 0;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
