.TodoItem {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 15px 0;
}

.title_section {
  flex: 1;
}

.checkbox_section {
  width: 40px;
}

.checkbox_section input {
  width: 25px;
}
