.TodoItem {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.text_section {
  flex: 1;
  padding-left: 20px;
}

.TodoItem.done .text_section {
  text-decoration: line-through;
  color: gray;
}
