.TodoItem {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 15px 20px 15px 0;
}

.title_section {
  flex: 1;
  outline: none;
}

.checkbox_section {
  width: 40px;
}

.checkbox_section input {
  width: 25px;
}

.btn_section {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn_update {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.input_section {
  outline: none;
}
