.TodoList {
  border: 1px solid #1f93ff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}

.input_section {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  flex: 1;
  border-bottom: 1px solid #1f93ff;
  padding-bottom: 10px;
}

.input:focus {
  outline: none;
}
