.editor_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.editor_wrapper input {
  flex: 1;
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
}

.editor_wrapper input:focus {
  outline: none;
  border: 1px solid #1f93ff;
}

.editor_wrapper button {
  cursor: pointer;
  border: none;
  width: 80px;
  background-color: #1f93ff;
  color: white;
  border-radius: 5px;
}
