@import "./reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  width: 500px;
}

.title {
  text-align: center;
  font-size: 36px;
  padding-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: #1f93ff;
}
